@using BeehiveTycoon.Models
@using System.Text.Json
@using System
@{
    Layout = "_LayoutPlastev";
    ViewData["css2"] = "upresneniUkolu.css";
    List<Pozadavek> Pozadavky = new();
    if (TempData["Pozadavky"] != null)
    {
        Pozadavky = JsonSerializer.Deserialize<List<Pozadavek>>(Convert.ToString(TempData["Pozadavky"]));
    }

}

<div id="container2">
    <h1>@ViewBag.Ukol.Nazev</h1>
    <a id="zpet" href="/Ul/Plastev">&#10006;</a>
    <div id="formular">
        <form action="/Ukoly/CoSUkolem" method="post">
            <input type="hidden" name="idUkolu" value="@ViewBag.Ukol.IdUkolu">
            <input type="hidden" name="nazevUkolu" value="@ViewBag.Ukol.Nazev ">

            @if (ViewBag.Ukol.IdUkolu == 0 || ViewBag.Ukol.IdUkolu == 3)
            {
                <div class="radek">
                    <div class="sloupec1">
                        <label for="vcely">Počet včel: </label>
                    </div>
                    <div class="sloupec2">
                        <input type="number" name="pocetVcel" value="@ViewBag.Ukol.PocetVcel" max="@TempData["DostupnyPocetVcel"]" min="1">
                    </div>
                </div>
            }
            else if (ViewBag.Ukol.IdUkolu == 1)
            {
                <div class="radek">
                    <div class="sloupec1">
                        <label for="pocetVajicek">Počet vajíček: </label>
                    </div>
                    <div class="sloupec2">
                        <input type="number" name="pocetVajicek" value="@ViewBag.Ukol.PocetVajicek" max="@TempData["MaxVajicek"]" min="1">
                    </div>
                </div>
                <div class="radek" id="posledni">
                    <input type="submit" value="Zobrazit požadavky" name="tlacitko">
                </div>
            }
            else if (ViewBag.Ukol.IdUkolu == 2)
            {
                <div class="radek">
                    <div class="sloupec1">
                        <label for="pocetPlaství">Počet pláství: </label>
                    </div>
                    <div class="sloupec2">
                        <input type="number" name="pocetPlastvi" value="@ViewBag.Ukol.PocetPlastvi" max="@TempData["MaxPlastvi"]" min="1">
                    </div>
                </div>
                <div class="radek" id="posledni">
                    <input type="submit" value="Zobrazit požadavky" name="tlacitko">
                </div>
            }
            <div id="tlacitka">
                <div id="cerveneTlacitko" class="tlacitko">
                    <a href="@Url.Action("ZrusitUkol", "Ukoly", new { idUkolu = ViewBag.Ukol.IdUkolu })">Smazat úkol</a>
                </div>
                <input class="tlacitko" type="submit" value="Přidat úkol" name="tlacitko">
            </div>
        </form>
    </div>
    <table>
        <tbody>
            @if (Pozadavky.Any())
            {
                <tr>
                    <th>Úkol vyžaduje:</th>
                    <td></td>
                </tr>
                foreach (Pozadavek pozadavek in Pozadavky)
                {
                    <tr>
                        <td>@pozadavek.Jmeno</td>
                        <td>@pozadavek.Pocet</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="chyba">
        @TempData["Chyba"]
    </div>
</div>
