@model BeehiveTycoon.Models.Hra
@{
    Layout = "_LayoutPlastev";
    ViewData["css2"] = "upresneniUkolu.css";

    string[] mesice = { "Leden", "Prosinec" };
    string[] mesiceRoj = { "Duben", "Květen", "Červen" };
}

<div id="container2">
    <h1>Přidat úkol</h1>
    <a id="zpet" href="/Ul/Plastev">&#10006;</a>
    <div id="seznam">
        @if (mesice.Contains(Model.Ul.Mesic))
        {
            <a class="seda">Sbírání pylu</a>
            <a class="seda">Nakladení vajíček</a>
            <a class="seda">Vytvořit plástev</a>
            <a class="seda">Obrana úlu</a>
            <a class="seda">Zazimování úlu</a>
        }
        else
        {
            if (Model.Ul.Mesic == "Listopad" || Model.Ul.Mesic == "Únor")
            {
                <a class="seda">Sbírání pylu</a>
            }
            else
            {
                <a href="@Url.Action("Pridat", "Ukoly", new { idUkolu = 0 })">Sbírání pylu</a>
            }
            <a href="@Url.Action("Pridat", "Ukoly", new { idUkolu = 1 })">Nakladení vajíček</a>
            <a href="@Url.Action("Pridat", "Ukoly", new { idUkolu = 2 })">Vytvořit plástev</a>
            <a href="@Url.Action("Pridat", "Ukoly", new { idUkolu = 3 })">Obrana úlu</a>

            if (Model.Ul.Mesic == "Listopad")
            {
                <a href="@Url.Action("Pridat", "Ukoly", new { idUkolu = 4 })">Zazimování úlu</a>
            }
            else
            {
                <a class="seda">Zazimování úlu</a>
            }

            if (mesiceRoj.Contains(Model.Ul.Mesic) && Model.Plastve.Count >= 50 && Model.Ul.Med >= 50000 && Model.Ul.Vcelstvo >= 25000)
            {
                <a href="@Url.Action("Pridat", "Ukoly", new { idUkolu = 5 })">Vyrojení včelstva</a>
            }
            else
            {
                <a class="seda">Vyrojení včelstva</a>
            }
        }
    </div>
</div>
