@model BeehiveTycoon.Models.Hra0
@using System.Diagnostics;
@using BeehiveTycoon.Models.Game
@{
    Layout = "_Layout";
    ViewData["css"] = "hra.css";

    int pocetVcel = 0;
    int pocetMedu = 0;

    foreach (Ukol ukol in Model.Ul0.SeznamUkolu)
    {
        foreach (Podrobnost podrobnost in ukol.Podrobnosti)
        {
            if (podrobnost.Jmeno == "vcely")
                pocetVcel += podrobnost.Hodnota;
            else if (podrobnost.Jmeno == "med")
                pocetMedu += podrobnost.Hodnota;
        }
    }
    
    double soucetVek = 0;

    foreach (GeneraceVcel generaceVcel in Model.Ul0.GeneraceVcelstva)
    {
        soucetVek += generaceVcel.Vek;
    }

    double prumerVek = soucetVek / Convert.ToDouble(Model.Ul0.GeneraceVcelstva.Count);
    prumerVek = Math.Round(prumerVek, 2, MidpointRounding.AwayFromZero);

}

<header>
    <div id="radek">
        <div>Včelstvo: @Model.Ul0.Vcelstvo</div>
        <div id="Prumer">
            Průměrný věk včelstva: @prumerVek
            <div class="submenuG">
                Generace včel:
                <table id="generace">
                    <tbody>
                        <tr>
                            <th>Počet včel</th>
                            <th>Věk</th>
                        </tr>
                        @foreach (GeneraceVcel generaceVcel in Model.Ul0.GeneraceVcelstva)
                        {
                            <tr>

                                <td>@generaceVcel.Pocet</td>
                                <td>@generaceVcel.Vek</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>Med: @Model.Ul0.Med</div>
        <div>Plástve: @Model.Ul0.Plastve.Count</div>
        <div>Měsíc: @Model.Datum.Mesic</div>
        <div>Lokace: @Model.Ul0.Lokace</div>
    </div>
</header>
<nav id="ukoly">
    <div id="seznamUkolu">
        <p>Úkoly:</p>
        @if (!Model.Ul0.SeznamUkolu.Any())
        {
            <ul>
                <li>Nejsou zadané žádné úkoly.</li>
            </ul>
        }
        else
        {
            <table>
                <tbody>
                    <tr>
                        <th>Název úkolu</th>
                        <td>Kusy</td>
                        <td>Včely</td>
                        <td>Med</td>
                    </tr>
                    @foreach (Ukol ukol in Model.Ul0.SeznamUkolu)
                    {
                        <tr>
                            <th><a>@ukol.Nazev</a></th>
                            @foreach (Podrobnost podrobnost in ukol.Podrobnosti)
                            {
                                if (podrobnost.Jmeno == "kusy")
                                {
                                    <td>@podrobnost.Hodnota</td>
                                }
                                else
                                {
                                    <td>0</td>
                                }
                                if (podrobnost.Jmeno == "vcely")
                                {
                                    <td>@podrobnost.Hodnota</td>
                                }
                                else
                                {
                                    <td>0</td>
                                }
                                if (podrobnost.Jmeno == "med")
                                {
                                    <td>@podrobnost.Hodnota</td>
                                }
                                else
                                {
                                    <td>0</td>
                                }
                            }
                        </tr>
                    }
                        <tr>
                            <th>Celkem</th>
                            <td></td>
                            <td>@pocetVcel</td>
                            <td>@pocetMedu</td>
                        </tr>
                    </tbody>
            </table>
        }
    </div>
    <div id="dalsiKolo" class="tlacitko0">
        <a>Další kolo</a>
    </div>
</nav>
<main>
    @RenderBody()
</main>
<nav id="nepratele">
    
    <div id="zdroje">
        <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div><a href="https://wallpapersafari.com/w/rXaV6Y">wallpapersafari.com</a></div>
    </div>
</nav>
